@font-face {
    font-family: 'GothamBold';
    src: url('fonts/GothamBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Neighbor';
    src: url('fonts/Neighbor.ttf') format('truetype');
}

body {
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Base bubble sizes */
.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    z-index: 1; /* Ensure bubbles are on top of background but below modal */
    color: rgb(35, 35, 35);
    text-align: center;
    user-select: none;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.bubble-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.task-name {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Neighbor', sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

.due-date {
    font-size: 0.75em;
    font-family: 'GothamBold', sans-serif;
    margin-top: 10px;
}

.sales { background-image: url('images/sales.svg'); }
.logistics { background-image: url('images/logistics.svg'); }
.operations { background-image: url('images/operations.svg'); }
.research-and-development { background-image: url('images/rnd.svg'); }
.social-media { background-image: url('images/social_media.svg'); }
.tech { background-image: url('images/tech.svg'); }

/* Default sizes for desktop */
.small { width: 120px; height: 120px; font-size: 12px; }
.medium { width: 160px; height: 160px; font-size: 14px; }
.large { width: 200px; height: 200px; font-size: 16px; }
.xlarge { width: 240px; height: 240px; font-size: 18px; }
.xxlarge { width: 280px; height: 280px; font-size: 20px; }

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .small { width: 100px; height: 100px; font-size: 10px; }
    .medium { width: 130px; height: 130px; font-size: 12px; }
    .large { width: 160px; height: 160px; font-size: 14px; }
    .xlarge { width: 190px; height: 190px; font-size: 16px; }
    .xxlarge { width: 220px; height: 220px; font-size: 18px; }
}

@media (max-width: 768px) {
    .small { width: 80px; height: 80px; font-size: 8px; }
    .medium { width: 100px; height: 100px; font-size: 10px; }
    .large { width: 130px; height: 130px; font-size: 12px; }
    .xlarge { width: 160px; height: 160px; font-size: 14px; }
    .xxlarge { width: 190px; height: 190px; font-size: 16px; }
}

@media (max-width: 480px) {
    .small { width: 60px; height: 60px; font-size: 6px; }
    .medium { width: 80px; height: 80px; font-size: 8px; }
    .large { width: 100px; height: 100px; font-size: 10px; }
    .xlarge { width: 120px; height: 120px; font-size: 12px; }
    .xxlarge { width: 140px; height: 140px; font-size: 14px; }
}

/* Ensure bubbles are visible even when the modal is open */
body.modal-open .bubble {
    display: block; 
}


/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 3; /* Ensure modal is on top of all content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: 'GothamBold', sans-serif; /* Ensure GothamBold is used */
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-task-name {
    font-family: 'Neighbor', sans-serif;
    font-weight: black;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal-content p {
    margin: 0; /* Remove default margin */
    display: flex;
    align-items: center;
    font-family: 'GothamBold', sans-serif;
}

.modal-content .modal-row {
    padding: 16px;
    padding-top: 24px;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.modal-content .modal-row:nth-child(even) {
    background-color: #f9f9f9;
}

.modal-content .modal-row:nth-child(odd) {
    background-color: #fff;
}

.modal-content .modal-row strong {
    text-transform: uppercase;
    font-family: 'GothamBold', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

.modal-content .modal-row span {
    font-family: 'GothamBold', sans-serif;
    color: #555;
    flex-grow: 1;
    text-align: right;
}

/* Icon alignment */
.modal-content .modal-row i {
    margin-right: 10px;
    margin-top: -12px;
    vertical-align: middle; /* Ensures icons align with text */
}

/* Dynamic Classes for Modal Styling Based on Category */
.sales-modal {
    color: #FFC20E !important; 
}

.logistics-modal {
    color: #0D9C4A !important; 
}

.operations-modal {
    color: #F26539 !important; 
}

.research-and-development-modal {
    color: #00A2A2 !important; 
}

.social-media-modal {
    color: #E671AB !important; 
}

.tech-modal {
    color: #0047AB !important; 
}


.modal-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 24px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.modal-row p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.modal-row span {
    margin-left: auto;
    text-align: right;
}

